<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 울타리(Fence) 도메인의 MyBatis SQL 정의 파일입니다. -->
<mapper namespace="com.dodo.backend.fence.mapper.FenceMapper">

    <!-- fence_id 기준으로 울타리 활성화 여부를 변경합니다. -->
    <update id="updateFenceIsActive">
        UPDATE fence
        SET fence_is_active = #{fenceIsActive}
        WHERE fence_id = #{fenceId}
    </update>

    <!-- fence_id 기준으로 울타리 범위 정보를 수정합니다. -->
    <update id="updateFenceRange">
        UPDATE fence
        <set>
            <if test="fenceName != null">name = #{fenceName},</if>
            <if test="centerLatitude != null">center_latitude = #{centerLatitude},</if>
            <if test="centerLongitude != null">center_longitude = #{centerLongitude},</if>
            <if test="radius != null">radius = #{radius}</if>
        </set>
        WHERE fence_id = #{fenceId}
    </update>

</mapper>
