<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 반려동물(Pet) 도메인의 복잡한 조회 및 동적 쿼리를 담당하는 MyBatis Mapper XML입니다. -->
<mapper namespace="com.dodo.backend.pet.mapper.PetMapper">

    <!-- if 문을 써서 값이 들어온 항목만 콕 집어서 바꿉니다.
         1. registration_number : 반려동물 등록번호
         2. sex : 반려동물 성별
         3. age : 반려동물 나이
         4. pet_name : 반려동물 이름
         5. breed : 반려동물 품종
         6. reference_heart_rate : 기준 심박수
         7. device_id : 연결된 디바이스 ID
         8. WHERE pet_id : petId를 기준으로 특정 반려동물을 식별 -->
    <update id="updatePetProfileInfo">
        UPDATE pet
        <set>
            <if test="request.registrationNumber != null">registration_number = #{request.registrationNumber},</if>
            <if test="request.sex != null">sex = #{request.sex},</if>
            <if test="request.age != null">age = #{request.age},</if>
            <if test="request.petName != null">pet_name = #{request.petName},</if>
            <if test="request.breed != null">breed = #{request.breed},</if>
            <if test="request.referenceHeartRate != null">reference_heart_rate = #{request.referenceHeartRate},</if>
            <if test="request.deviceId != null">device_id = #{request.deviceId}</if>
        </set>
        WHERE pet_id = #{petId}
    </update>

    <!-- 특정 반려동물의 디바이스 정보를 변경합니다.
         1. device_id : 새로 연결할 디바이스 ID
         2. WHERE pet_id : petId를 기준으로 특정 반려동물을 식별 -->
    <update id="updatePetDevice">
    UPDATE pet
    SET device_id = #{deviceId}
    WHERE pet_id = #{petId}
    </update>
</mapper>
