<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dodo.backend.activityhistory.mapper.ActivityHistoryMapper">

    <!-- 활동 기록을 '진행 중(IN_PROGRESS)' 상태로 변경하고 활동 시작 시간 및 시작 위치 좌표를 기록합니다.
            1. activity_history_status : 활동 상태를 IN_PROGRESS로 변경
            2. activity_history_start_at : 활동 시작 시간을 현재 시간(NOW())으로 기록
            3. start_latitude : 활동 시작 위치의 위도
            4. start_longitude : 활동 시작 위치의 경도
            5. WHERE history_id : historyId를 기준으로 특정 활동 기록을 식별 -->
    <update id="startActivity">
        UPDATE activity_history
        SET activity_history_status = #{status},
            activity_history_start_at = NOW(),
            start_latitude = #{startLatitude},
            start_longitude = #{startLongitude}
        WHERE history_id = #{historyId}
    </update>

    <!-- 취소된 활동 기록을 다시 '진행 중(IN_PROGRESS)' 상태로 변경합니다.
         1. activity_history_status : 활동 상태를 IN_PROGRESS로 변경
         2. activity_history_end_at : 일시정지 시 기록된 종료 시간을 NULL로 초기화
         3. WHERE history_id : historyId를 기준으로 특정 활동 기록을 식별 -->
    <update id="resumeActivity">
        UPDATE activity_history
        SET activity_history_status = #{status},
            activity_history_end_at = NULL
        WHERE history_id = #{historyId}
    </update>

    <!-- 진행 중인 활동 기록을 '취소(CANCELED)' 상태로 변경합니다.
        1. activity_history_status : 활동 상태를 CANCELED로 변경
        2. activity_history_end_at : 활동 취소 시점을 현재 시간(NOW())으로 기록
        3. WHERE history_id : historyId를 기준으로 특정 활동 기록을 식별 -->
    <update id="cancelActivity">
        UPDATE activity_history
        SET activity_history_status = #{status},
            activity_history_end_at = NOW()
        WHERE history_id = #{historyId}
    </update>

    <!-- 진행 중인 활동 기록을 '완료(FINISHED)' 상태로 변경합니다.
         1. activity_history_status : 활동 상태를 FINISHED로 변경
         2. activity_history_end_at : 활동이 정상 종료된 시간을 endAt 파라미터로 기록
         3. distance : 활동 종료 시점까지의 총 이동 거리
         4. WHERE history_id : historyId를 기준으로 특정 활동 기록을 식별 -->
    <update id="finishActivity">
        UPDATE activity_history
        SET activity_history_status = #{status},
            activity_history_end_at = #{endAt},
            distance = #{distance}
        WHERE history_id = #{historyId}
    </update>
</mapper>