<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 사용자(User) 도메인의 복잡한 조회 및 동적 쿼리를 담당하는 MyBatis Mapper XML입니다. -->
<mapper namespace="com.dodo.backend.user.mapper.UserMapper">

    <!-- 신규 가입 유저의 추가 정보를 업데이트하고 계정 상태를 'ACTIVE'로 전환합니다.
         1. nickname : 서비스에서 사용할 유저의 별명
         2. region : 유저의 활동 지역 정보
         3. has_family : 가족 여부
         4. profile_url : 프로필 이미지 URL
         5. user_status : 가입 완료를 의미하는 'ACTIVE' 상태로 변경
         6. WHERE email : 토큰에서 추출한 이메일을 기준으로 특정 유저를 식별-->
    <update id="updateUserRegistrationInfo" parameterType="com.dodo.backend.user.entity.User">
        UPDATE users
        SET nickname = #{nickname},
            region = #{region},
            has_family = #{hasFamily},
            <if test="profileUrl != null">profile_url = #{profileUrl},</if>
            user_status = 'ACTIVE'
        WHERE email = #{email}
    </update>

    <!-- 사용자의 계정 상태를 'DELETED'로 전환합니다.
         1. user_status : 삭제를 의미하는 'DELETED' 상태로 변경
         2. WHERE users_id : 토큰에서 추출한 userId를 기준으로 특정 유저를 식별-->
    <update id="updateUserStatus">
        UPDATE users
        SET
            user_status = #{status},
            user_status_updated_at = NOW()
        WHERE
            users_id = #{userId}
    </update>

    <!-- if 문을 써서 값이 들어온 항목만 콕 집어서 바꿉니다.
         1. user_status_updated_at은 현재 시간(NOW())으로 갱신
         2. WHERE users_id : 토큰에서 추출한 userId를 기준으로 특정 유저를 식별-->
    <update id="updateUserProfileInfo">
        UPDATE users
        <set>
            <if test="request.nickname != null">nickname = #{request.nickname},</if>
            <if test="request.region != null">region = #{request.region},</if>
            <if test="request.hasFamily != null">has_family = #{request.hasFamily},</if>
            <if test="request.profileUrl != null">profile_url = #{request.profileUrl},</if>
            user_status_updated_at = NOW()
        </set>
        WHERE users_id = #{userId}
    </update>

    <!-- 사용자의 알림수신 여부를 전환합니다.
         1. notification_enabled : 입력 받은 상태로 변경
         2. WHERE users_id : 토큰에서 추출한 userId를 기준으로 특정 유저를 식별-->
    <update id="updateNotificationStatus">
        UPDATE users
        SET notification_enabled = #{enabled}
        WHERE users_id = #{userId}
    </update>
</mapper>
